.ps-grid {
    display: grid;
}
.ps-grid--inline {
    display: inline-grid;
}

.ps-grid--align-start {
    align-items: start;
}
.ps-grid--align-center {
    align-items: center;
}
.ps-grid--align-end {
    align-items: end;
}
.ps-grid--align-stretch {
    align-items: stretch;
}
.ps-grid--align-baseline {
    align-items: baseline;
}

.ps-grid--justify-start {
    justify-items: start;
}
.ps-grid--justify-center {
    justify-items: center;
}
.ps-grid--justify-end {
    justify-items: end;
}
.ps-grid--justify-stretch {
    justify-items: stretch;
}

.ps-grid--align-content-start {
    align-content: start;
}
.ps-grid--align-content-center {
    align-content: center;
}
.ps-grid--align-content-end {
    align-content: end;
}
.ps-grid--align-content-stretch {
    align-content: stretch;
}
.ps-grid--align-content-between {
    align-content: space-between;
}
.ps-grid--align-content-around {
    align-content: space-around;
}
.ps-grid--align-content-evenly {
    align-content: space-evenly;
}

.ps-grid--justify-content-start {
    justify-content: start;
}
.ps-grid--justify-content-center {
    justify-content: center;
}
.ps-grid--justify-content-end {
    justify-content: end;
}
.ps-grid--justify-content-stretch {
    justify-content: stretch;
}
.ps-grid--justify-content-between {
    justify-content: space-between;
}
.ps-grid--justify-content-around {
    justify-content: space-around;
}
.ps-grid--justify-content-evenly {
    justify-content: space-evenly;
}

.ps-grid--flow-row {
    grid-auto-flow: row;
}
.ps-grid--flow-column {
    grid-auto-flow: column;
}
.ps-grid--flow-dense {
    grid-auto-flow: dense;
}
.ps-grid--flow-row-dense {
    grid-auto-flow: row dense;
}
.ps-grid--flow-column-dense {
    grid-auto-flow: column dense;
}
